.Message {
    margin-top: 24px;
    font-size: 1.4em;
}

@media screen and (max-width: 600px) {
    .Message {
        display: none;
    }
}

.Section .Title {
    text-align: center;
    font-size: 1.6em;
    flex-basis: 100%;
    margin-top: 48px;
}

.Cards {
    display: flex;
    justify-content: center;
}
